
@{
    ViewBag.Title = "OperationList";
}

<h2>Choose an Action</h2>

<div class="outer-div" onclick="jh.directory.getCreateIssue()">
    <div class="inner-div">
        <h3 class="h3-block">
           Create Subtask
        </h3>
    </div>
</div>

